.not-found-page {
  h1 {
    color: white;
    font-size: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin: 0px;
    text-shadow: 0 2.3px 8px rgba(0, 0, 0, 0.018),
      0 5.4px 18.6px rgba(0, 0, 0, 0.026), 0 9.7px 33.4px rgba(0, 0, 0, 0.032),
      0 16.1px 55.4px rgba(0, 0, 0, 0.038), 0 26.5px 91.3px rgba(0, 0, 0, 0.044),
      0 46.2px 159.5px rgba(0, 0, 0, 0.052), 0 100px 345px rgba(0, 0, 0, 0.07);
  }

  h2 {
    margin: 0px;
    letter-spacing: 2px;
    font-family: "Bitter", serif;
    color: #ffd36b;
    font-size: 80px;
    text-shadow: 0 2.3px 8px rgba(0, 0, 0, 0.018),
      0 5.4px 18.6px rgba(0, 0, 0, 0.026), 0 9.7px 33.4px rgba(0, 0, 0, 0.032),
      0 16.1px 55.4px rgba(0, 0, 0, 0.038), 0 26.5px 91.3px rgba(0, 0, 0, 0.044),
      0 46.2px 159.5px rgba(0, 0, 0, 0.052), 0 100px 345px rgba(0, 0, 0, 0.07);
  }
}
