.resource-sighting-form {
  background-color: white;

  position: absolute;
  width: 402px;
  bottom: 200px;
  right: 50px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 2.3px 8px rgba(0, 0, 0, 0.018),
    0 5.4px 18.6px rgba(0, 0, 0, 0.026), 0 9.7px 33.4px rgba(0, 0, 0, 0.032),
    0 16.1px 55.4px rgba(0, 0, 0, 0.038), 0 26.5px 91.3px rgba(0, 0, 0, 0.044),
    0 46.2px 159.5px rgba(0, 0, 0, 0.052), 0 100px 345px rgba(0, 0, 0, 0.07);

  img {
    width: 392px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    border: 4px solid white;
  }
  form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  select {
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
    padding: 10px 10px;
    width: 70%;
    border-radius: 30px 0px 0px 30px;
    text-align: center;
  }

  input:hover {
    background-color: #fdba2b;
  }

  input:active {
    background-color: #e1fc49;
  }

  .photo-upload-label {
    padding: 11.2px 15px;
    width: 85%;
    color: white;
    border-radius: 30px;
    background: rgb(62, 170, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin-bottom: 20px;

    input {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  .photo-upload-label:hover {
    background-color: rgb(108, 231, 108);
  }

  div {
    width: 100%;
  }

  .resource-submit {
    padding: 11.2px 20px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #ffd36b;
    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
  }
}

.swal-button {
  padding: 7px 19px;
  border-radius: 30px;
  background-color: #ffd36b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.swal-button:not([disabled]):hover {
  background-color: #f8c244;
  outline: none;
  border: none;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
  background-color: #f8c244;
}

.swal-button:active {
  outline: none;
  box-shadow: none;
  background-color: #ffdc8b;
}
