body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* background: url("./background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 100%;
  width: 100%;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); */
}

.videoTag {
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  padding: none;
  position: fixed;
}

#root {
  height: 100%;
  width: 100%;
}
